/* =======
    Form Structure
    Defines how forms can be built and laid out.
    ======= */

@import '_variables-that-should-be-somewhere-else';

.form-group {
    width: calc(100% + #{$grid-base});
    display: table;
    margin-left: ($grid-base / -2);
    margin-right: ($grid-base / -2);
    +form-group,
    +.form-element {
        margin-top: $grid-base;
    }
    .form-element {
        display: table-cell;
        padding: 0 ($grid-base / 2);
        &.x-half {
            width: 50%
        }
        &.x-quarter {
            width: 25%
        }
    }
}

.form-element {
    +.form-element,
    +form-group {
        margin-top: $grid-base;
    }
}